// Логотип в хедере

.logo {
  margin-right: 93px;

  color: $second-text-color;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  & span {
    color: $accent-color;
  }
}
